{{set . "title" .citype.Name}}
{{set . "subtitle" "Edit CI Type"}}
{{template "header.html" .}}

{{if .citypeJson}}
<script type="text/javascript">
	var citype = {{rawjs .citypeJson}};
	var origCitype = {{rawjs .citypeJson}};
</script>
{{end}}
{{append . "moreScripts" "js/citype.js"}}

{{$cmdb := .cmdb}}
{{$citype := .citype}}

<div class="row">
	<div class="col-lg-12">
		<ul class="nav nav-tabs">
		  <li class="active"><a href="#tabType" data-toggle="tab">CI Type</a></li>
		  <li><a href="#tabAttributes" data-toggle="tab">Attributes</a></li>
		</ul>
	</div>
</div>
<div class="row">
	<div class="tab-content">
		<!-- CI Type details tab -->
		<div class="tab-pane fade in active" id="tabType">
			<div class="col-lg-8">
				<!-- CI Type name -->
				<form action="#" class="form-horizontal">
					<div class="form-group">
						<label for="name" class="col-sm-2 control-label">Name</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="typeName" name="name" value="{{.citype.Name}}" placeholder="CI type name" />
						</div>
					</div>
					<!-- CI Type description -->
					<div class="form-group">
						<label for="description" class="col-sm-2 control-label">Description</label>
						<div class="col-sm-10">
							<textarea id="typeDesc" name="description" class="form-control" rows="3">{{.citype.Description}}</textarea>
						</div>
					</div>
				</form>
			</div>
		</div>

		<!-- Attribute tab -->
		<div class="tab-pane fade" id="tabAttributes">
			<!-- Attribute list for current CI Type -->
			{{if .citype}}
			<div class="col-lg-3">
				<span id="newatt" class="text-primary link pull-right"><i class="glyphicon glyphicon-plus"></i>&nbsp;New</span>
				<div class="clearfix"></div>
				<ul id="attlist" class="list-unstyled">
				</ul>
			</div>
			<!-- Attribute editor -->
			<div class="col-lg-5">
				<form action="#" class="form-horizontal">
					<div class="form-group">
						<label for="name" class="col-sm-2 control-label">Name</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="attName" name="name" placeholder="CI type name" />
						</div>
					</div>
					<div class="form-group">
						<label for="type" class="col-sm-2 control-label">Type</label>
						<div class="col-sm-10">
							<select name="type" id="attType" class="form-control">
								<option value="string">String</option>
								<option value="group">Group</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="description" class="col-sm-2 control-label">Description</label>
						<div class="col-sm-10">
							<textarea id="attDesc" name="description" class="form-control" rows="3"></textarea>
						</div>
					</div>
				</form>
			</div>
			{{end}}
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-8">
		<form class="invisible" method="POST" id="submitForm">
			<input type="hidden" name="data" id="submitData" />
		</form>
		<button class="btn btn-primary pull-right" id="save">Save</button>
	</div>
</div>

<!-- Add CI Type modal -->
<div class="modal fade modal-add-ci-type" tabindex="-1" role="dialog" aria-hidden="true">
  	<div class="modal-dialog ">
	    <div class="modal-content">
			<div class="modal-header">
        		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">New CI Type</h4>
			</div>
			<div class="modal-body">
				<form method="POST" action="/cmdb/{{.cmdb.Name}}/citypes" class="form-horizontal">
					<div class="form-group">
						<label for="name" class="col-sm-2 control-label">Name</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="name" name="name" placeholder="CI type name" />
						</div>
					</div>
					<div class="form-group">
						<label for="description" class="col-sm-2 control-label">Description</label>
						<div class="col-sm-10">
							<textarea id="description" name="description" class="form-control" rows="3"></textarea>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12">
							<button type="button" class="btn btn-default pull-right" data-dismiss="modal" aria-label="Close">Cancel</button>
							<input type="submit" value="Add" class="btn btn-primary pull-right"></input>
						</div>
					</div>
				</form>
			</div>
		</div>
    </div>
</div>

{{template "footer.html" .}}
