{{set . "title" .citype.Name}}
{{set . "subtitle" "Edit CI Type"}}
{{template "header.html" .}}

{{if .citypeJson}}
<script type="text/javascript">
	var citype = {{rawjs .citypeJson}};
	var origCitype = {{rawjs .citypeJson}};
</script>
{{end}}

{{append . "moreScripts" "js/citype.js"}}

{{$cmdb := .cmdb}}
{{$citype := .citype}}

<div class="row">
	<div class="col-lg-12">
		<ul class="nav nav-tabs">
		  <li class="active"><a href="#tabType" data-toggle="tab">{{msg . "label.citype"}}</a></li>
		  <li><a href="#tabAttributes" data-toggle="tab">{{msg . "label.attributes"}}</a></li>
		</ul>
	</div>
</div>
<div class="row">
	<div class="tab-content">
		<!-- CI Type details tab -->
		<div class="tab-pane fade in active" id="tabType">
			<div class="col-lg-12">
				<!-- CI Type name -->
				<form action="#" class="form-horizontal">
					<div class="form-group">
						<label for="name" class="col-sm-2 control-label">{{msg . "label.name"}}</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="typeName" name="name" value="{{.citype.Name}}" placeholder="{{msg . "placeholder.citype.name"}}" />
						</div>
					</div>
					<!-- CI Type description -->
					<div class="form-group">
						<label for="description" class="col-sm-2 control-label">{{msg . "label.description"	}}</label>
						<div class="col-sm-10">
							<textarea id="typeDesc" name="description" class="form-control" rows="3">{{.citype.Description}}</textarea>
						</div>
					</div>
				</form>
			</div>
		</div>

		<!-- Attribute tab -->
		<div class="tab-pane fade clearfix" id="tabAttributes">
			<!-- Attribute list for current CI Type -->
			{{if .citype}}
			<div class="col-lg-3">
				<span id="newatt" class="text-primary link pull-right"><i class="glyphicon glyphicon-plus"></i>&nbsp;{{msg . "label.new"}}</span>
				<div class="clearfix"></div>
				<ul id="attlist" class="list-unstyled">
				</ul>
			</div>
			<!-- Attribute editor -->
			<div class="col-lg-6" id="attributeEditor">
				<form action="#" class="form-horizontal">
					<div class="form-group" data-help-key="att.name">
						<label for="name" class="col-sm-2 control-label">{{msg . "label.name"}}</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="attName" name="name" placeholder="{{msg . "placeholder.att.name"}}" />
						</div>
					</div>
					<div class="form-group" data-help-key="att.description">
						<label for="description" class="col-sm-2 control-label">{{msg . "label.description"}}</label>
						<div class="col-sm-10">
							<textarea id="attDesc" name="description" class="form-control" rows="3"></textarea>
						</div>
					</div>
					<div class="form-group" data-help-key="att.type">
						<label for="type" class="col-sm-2 control-label">{{msg . "label.type"}}</label>
						<div class="col-sm-10">
							<select name="type" id="attType" class="form-control">
								<option value="string">{{msg . "label.plaintext"}}</option>
								<option value="number">{{msg . "label.number"}}</option>
								<option value="boolean">{{msg . "label.boolean"}}</option>
								<option value="timestamp">{{msg . "label.datetime"}}</option>
								<option value="group">{{msg . "label.attributegroup"}}</option>
							</select>
						</div>
					</div>

					<div class="form-group" data-help-key="att.required">
						<label for="required" class="col-sm-2 control-label">{{msg . "label.required"}}</label>
						<div class="col-sm-1">
							<input type="checkbox" id="inputAttRequired" />
						</div>
					</div>

					<!--  Array editor controls -->
					<div id="editArray">
						<div class="form-group" data-help-key="att.array">
							<label for="array" class="col-sm-2 control-label">{{msg . "label.array"}}</label>
							<div class="col-sm-1">
								<input type="checkbox" id="inputAttArray" />
							</div>
							<div id="editArrayOptions">
								<label for="minCount" class="col-sm-2 control-label">{{msg . "label.minimumcount"}}</label>
								<div class="col-sm-2">
									<input type="text" id="inputAttMinCount" class="form-control" placeholder="{{msg . "placeholder.none"}}" />
								</div>
								<label for="maxCount" class="col-sm-2 control-label">{{msg . "label.maximumcount"}}</label>
								<div class="col-sm-2">
									<input type="text" id="inputAttMaxCount" class="form-control" placeholder="{{msg . "placeholder.none"}}" />
								</div>
							</div>
						</div>
					</div>

					<!-- String attribute editor controls -->
					<div id="editString">
						<div class="form-group" data-help-key="att.string">
							<label for="minLength" class="col-sm-2 control-label">{{msg . "label.minimumlength"}}</label>
							<div class="col-sm-4">
								<input type="text" id="inputStringMinLength" class="form-control" placeholder="{{msg . "placeholder.none"}}" />
							</div>
							<label for="maxLength" class="col-sm-2 control-label">{{msg . "label.maximumlength"}}</label>
							<div class="col-sm-4">
								<input type="text" id="inputStringMaxLength" class="form-control" placeholder="{{msg . "placeholder.none"}}" />
							</div>
						</div>
					</div>

					<!-- Number attribute editor controls -->
					<div id="editNumber">
						<div class="form-group" data-help-key="att.number">
							<label for="units" class="col-sm-2 control-label">{{msg . "label.units"}}</label>
							<div class="col-sm-2">
								<input type="text" id="inputNumberUnits" class="form-control" />
							</div>
							<label for="minValue" class="col-sm-2 control-label">{{msg . "label.minimum"}}</label>
							<div class="col-sm-2">
								<input type="text" id="inputNumberMinValue" class="form-control" placeholder="{{msg . "placeholder.none"}}" />
							</div>
							<label for="maxValue" class="col-sm-2 control-label">{{msg . "label.maximum"}}</label>
							<div class="col-sm-2">
								<input type="text" id="inputNumberMaxValue" class="form-control" placeholder="{{msg . "placeholder.none"}}" />
							</div>
						</div>
					</div>

					<!-- Group attribute editor controls -->
					<div id="editGroup" data-help-key="att.group">
						<div class="form-group" id="editGroupSingular">
							<label for="singular" class="col-sm-2 control-label">{{msg . "label.singular"}}</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="inputGroupSingular" placeholder="{{msg . "placeholder.singular"}}" />
							</div>
						</div>
					</div>
				</form>
			</div>

			<!-- Attribute help -->
			<div id="attributeHelp" class="col-lg-3">
			</div>
			{{end}}
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-8">
		<form class="invisible" method="POST" id="submitForm">
			<input type="hidden" name="data" id="submitData" />
		</form>
		<button class="btn btn-primary pull-right" id="save">{{msg . "label.save"}}</button>
	</div>
</div>
{{template "footer.html" .}}
