{{set . "title" "CI Types"}}
{{set . "subtitle" .cmdb.Name}}
{{template "header.html" .}}
{{$cmdb := .cmdb}}
<table class="table table-hover">
	<thead>
		<tr>
			<th>CI Type</th>
		</tr>
	</thead>
	<tbody>
		{{range .citypes}}
		<tr>
			<td><a href="/cmdb/{{$cmdb.Name}}/citypes/{{.ShortName}}">{{.Name}}</a></td>
		</tr>
		{{end}}
	</tbody>
</table>
<!-- Add CI Type modal -->
<div class="modal fade modal-add-ci-type" tabindex="-1" role="dialog" aria-hidden="true">
  	<div class="modal-dialog ">
	    <div class="modal-content">
			<div class="modal-header">
        		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">New CI Type</h4>
			</div>
			<div class="modal-body">
				<form method="POST" action="/cmdb/{{.cmdb.Name}}/citypes" class="form-horizontal">
					<div class="form-group">
						<label for="name" class="col-sm-2 control-label">Name</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="name" name="name" placeholder="CI type name" />
						</div>
					</div>
					<div class="form-group">
						<label for="description" class="col-sm-2 control-label">Description</label>
						<div class="col-sm-10">
							<textarea id="description" name="description" class="form-control" rows="3"></textarea>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12">
							<button type="button" class="btn btn-default pull-right" data-dismiss="modal" aria-label="Close">Cancel</button>
							<input type="submit" value="Add" class="btn btn-primary pull-right"></input>
						</div>
					</div>
				</form>
			</div>
		</div>
    </div>
</div>

{{template "footer.html" .}}
