    </div>

    <!-- jQuery -->
    <script src="/public/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/public/js/bootstrap.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <!-- 
    <script src="public/js/plugins/morris/raphael.min.js"></script>
    <script src="public/js/plugins/morris/morris.min.js"></script>
    <script src="public/js/plugins/morris/morris-data.js"></script>
	-->

    <!-- i18next -->
    <script src="/public/js/i18next-1.7.7.min.js"></script>
    <script type="text/javascript">
        var option = { 
            lng: '{{.currentLocale}}',
            resGetPath: '/public/locales/__ns__.__lng__.json',
            lowerCaseLng: true
        };
     
        i18n.init(option);
    </script>

    {{range .moreScripts}}
      <script src="/public/{{.}}" type="text/javascript" charset="utf-8"></script>
    {{end}}
  </body>
</html>
