{{template "header-min.html" .}}

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            {{template "nav-top.html" .}}

            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            {{template "nav-side.html" .}}
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">{{.title}} <small>{{.subtitle}}</small></h1>
                    </div>
                </div>

                {{template "flash.html" .}}
              